apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
  - ../../base

# If needed to patch anything specifically for kind, patches can be added here.
# For now we don't change anything; overlay exists to keep production/overlays pattern.
